Android/HelloWorld/.classpath
Android/HelloWorld/.project
Android/HelloWorld/.settings/
Android/HelloWorld/bin/
Android/HelloWorld/gen/
Android/HelloWorld/project.properties

Android/Hokey/.classpath
Android/Hokey/.project
Android/Hokey/.settings/
Android/Hokey/bin/
Android/Hokey/gen/
Android/Hokey/project.properties

Android/TileMaps/.classpath
Android/TileMaps/.project
Android/TileMaps/.settings/
Android/TileMaps/bin/
Android/TileMaps/gen/
Android/TileMaps/project.properties
